body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    color: white;

    background-color: black;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    .contenedor-login{
        background-color: #1A1A1A;

        padding: 40px;

        border-radius: 15px;

        width: 400px;

        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }

    .campo {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }

    .campo label {
        margin-bottom: 6px;
        font-weight: bold;
    }

    .campo input {
        background-color: black;
        padding: 10px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 8px;
        outline: none;
    }

    .campo input:focus {
        border: 3px solid #C70000;
    }

    .campo input:hover {
        border: 3px solid #C70000;
    }

    .btn-iniciar-sesion {
        background-color: #FF4D4D;
        color: #333;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        align-items: center;
    }

    .boton{
        text-align: center;
        color: white;
    }

    .btn-iniciar-sesion:hover {
        background-color: #E60000;
    }

    .btn-iniciar-sesion:focus {
        outline: none;
    }

    .enlace-registro {
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .enlace-registro p{
        margin-bottom: 8px;
        color: #FFFFFF;
    }

    .enlace-registro a{
        text-decoration: none;
        color: #4F7DF3;
        font-weight: bold;
    }
    .enlace-registro a:hover{
        text-decoration: underline;
    }

}